.b {
    width: 100%;
    height: 100vh;
    background-image: url('./res/background.png');
    background-repeat: repeat-x;
    background-size: cover;
    overflow-x: hidden;
    position: absolute;
}

.body {
    margin: 0px;
}

.i {
    height: 250px;
    margin-left: 100px;
    margin-top: 390px;
    position: absolute;
}

.flame {
    height: 160px;
    margin-top: 490px;
    position: absolute;
}

.score {
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Arial';
}

.end {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(23, 23, 23);
    font-size: 100px;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.btn {
    width: 400px;
    height: 50px;
    background-color: rgb(9, 193, 9);
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}